/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* import font */

@font-face {
  font-family: "CA12c13c";
  src: url(./../CA12c13c.otf);
}
   
   
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: "CA12c13c", "MyriadPro", Sans-Serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#stats {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 20px;
}

html {
    overflow: hidden;
    height: 100%;
}

html.overflow {
    overflow: visible;
}

html, body, #overlays {
    -webkit-user-select: none;
}

body {
    background: #cbdbe7;
    /*background: url(./../img/png/table-cloth-small.png); */
    background-position: bottom left;
}

.page-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    /* border: 1px solid #333; */
}

#videocontainer {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-out;
}

video {
    position: absolute;
    bottom: 100px;
    bottom: 99px;
    left: 50%;
    margin-left: -512px;
}

/* ==========================================================================
   storm + animation
   ========================================================================== */

#storm {
    position: absolute;
    display: none;
    
    z-index: 3000;
}

.stormSize {
    width: 1000px;
    height: 1000px;
}

.startStorm {
    display: block !important;
    
    -webkit-animation: storm 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

.bolt {
    visibility: hidden;
}

#storm img {
    position: absolute;
    left: 0%;
    top: 0%;
}

@-webkit-keyframes storm
{
0%  {left: calc(75% - 500px); top: -1000px; -webkit-transform: rotate(0deg);}
45%  {left: calc(60% - 500px); top: -200px; -webkit-transform: rotate(-620deg);}
65%  {left: calc(40% - 500px); top: -200px; -webkit-transform: rotate(-990deg);}
100% {left: calc(25% - 500px); top: -1000px; -webkit-transform: rotate(-1440deg);}
}

/* ==========================================================================
   confettis
   ========================================================================== */

#confettis {
    position: absolute;
    /*z-index: 3000;*/
    width: 100%;
    height: 100%;
    /*opacity: 0.5;*/
    visibility: hidden;
}

#confettis.active {
    visibility: visible;
}

.conf {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; height: 20px;
    border-radius: 15px;
    /*transition: -webkit-transform 0.3s ease-out 0.5s;*/
}

.conf.orange { background: #c69d51; }
.conf.purple { background: #9c458f; }
.conf.green { background: #488e62; }
.conf.yellow { background: #e0e22a; }
.conf.blue { background: #4c9ba9; }

.conf.small {
    width: 10px; height: 10px;
}

/* ==========================================================================
   stage
   ========================================================================== */

#overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stage {
    width: 1024px;
    height: 660px;
    /*border: 1px dotted grey;*/
    position: absolute;
    bottom: 99px;
    left: 50%;
    margin-left: -512px;
}

#plates, #chart {
    width: 570px; height: 570px;
    /*border: 1px solid black;*/
    position: absolute;
    top: 50px; left: 248px;
    z-index: 1;
}

#chart {
    z-index: 2;
    display: none;
    height: 670px;
    background: url(./../img/svg/new-game-button.svg) no-repeat 50% 100%;
    /*border: 1px solid black;*/
}

#infopage {
    width: 1024px;
    height: 2500px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -512px;
    display: none;
    background-image: url(./../img/infopage-placeholder.png);
}

#infopage.visible {
    display: block;
}

#continueButton {
    position: absolute;
    left: calc(48% - 238px / 2);
    bottom: 30px;
    width: 238px;
    height: 50px;
    z-index: 3;
    background: url(./../img/png/continue-game-button.png) no-repeat 47% 0%;
}

.plate {
    border-radius: 50%;
    width: 540px;
    height: 540px;
    position: absolute;
    top: 0; left: 0;
    background-image: url(./../img/svg/plate.svg);
    border: 2px solid rgba(243,40,44,0);
    display: none;
}

.plate.visible {
    opacity: 1;
}

.plate.drop {
   border: 2px solid rgba(243,40,44,1);
}

.plate.desktop {
    transition: border 0.3s ease-out;
    border: 2px dotted rgba(243,40,44,0);
}

.plate.desktop.drop {
    border: 2px dotted rgba(243,40,44,1);
}

.fork {
    position: absolute;
    top: 80px; 
    left: 163px;
    width: 90px; height: 400px;
    background-image: url(./../img/svg/forks.svg);
    display: none;
}

.spoon {
    position: absolute;
    top: 100px; 
    left: 814px;
    width: 106px; height: 400px;
    /*border: 1px solid red;*/
    background-image: url(./../img/svg/spoons.svg);
    display: none;
}
.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 150px;
    z-index: 2000;
    /*border: 1px solid;*/
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
}

.bubble.new-game {
    background-image: url(./../img/svg/newgame-bubbles.svg);
}

.bubble.success {
    background-image: url(./../img/svg/success-bubbles.svg);
}

.bubble.failed {
    background-image: url(./../img/svg/failed-bubbles.svg);
}

.bubble.freeze-veggies {
    background-image: url(./../img/svg/freeze-veggies-bubbles.svg);
}

.bubble.freeze-sides {
    background-image: url(./../img/svg/freeze-sides-bubbles.svg);
}

.bubble.visible {
    opacity: 1;
}

.spoon .bubble {
    top: -60px;
    left: -160px;
}

.fork .bubble {
    top: -50px;
    left: -80px;
}

.logo {
    width: 139px;
    height: 106px;
    left: 5px;
    top: 22px;
    background-position: 2px 2px;
    z-index: 100;
}

.info {
    width: 55px;
    height: 49px;
    right: 35px; 
    top: 36px;
    background-position: -142px 2px;
    z-index: 101;
}

.info.close {
    width: 36px;
    height: 42px;
    background-position: -204px 2px;
    background-image: url(./../img/svg/icons.svg);
}

.icon {
    cursor: pointer;
    position: absolute;
    background-image: url(./../img/svg/icons.svg);
}

.meal-check {
    width: 50px; height: 50px;
    /*background: #009370;*/
    position: absolute;
    bottom: 110px;
    right: 290px;
    opacity: 0;
    transition: opacity 0.4s ease-out 0.3s;
    z-index: 2;
    background-position: -270px -9px;
    background-image: url(./../img/svg/icons.svg);
    pointer-events: none;
}

.meal-check.failed {
   /* background: #ff0000; */
    background-position: -350px -9px;
    background-image: url(./../img/svg/icons.svg);
}

.meal-check.visible {
    opacity: 1;
}

#anitest {
    pointer-events: none;
    position: absolute;
    bottom: 100px;
    left: -800px;
    /*left: 100px;*/
    width: 800px;
    height: 700px;
    /*background: lime;*/
    z-index: 100000;
    transition: -webkit-transform 3.5s linear, left 3.5s linear;
    /*transition: all 3.5s linear;*/
    background-image: url(./../img/png/storm-50-blur.png);
}

#anitest.rotate {
    -webkit-transform: rotate(-4500deg);
    /*left: 1324px; /* should be dynamic */*/
}

#anitest > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 700px;
}

.bolt2.one {
    background-image: url(./../img/png/bolt-1-50.png);
}

.bolt2.two {
    background-image: url(./../img/png/bolt-2-50.png);
}

.bolt2.three {
    background-image: url(./../img/png/bolt-3-50.png);
}

/* ==========================================================================
   menu
   ========================================================================== */

.menu-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.menu-wrapper {
    background: url(./../img/png/food-menu.png);
    /*background: url(./../img/svg/food-menu.svg);*/
    height: 106px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center; 
}

.menu-container {
    display: inline-block;
    position: relative;
    opacity: 0;
    z-index: 1000;
}

.m-item.touch { 
    -webkit-transform: scale(0.85, 0.85);
    margin: -1px 0 0 -15px;
}

.navi-container {
    width: 320px;
    height: 65px;
    position: absolute;
    top: -65px;
    left: 0;
}

.navi-container > div {
    width: 60px;
    height: 65px;
    /*border: 1px solid grey;*/
    margin-right: 5px;
    float: left;
    cursor: pointer;
    background-image: url(./../img/svg/navi.svg);
    transition: background 0.3s ease-out;
}

.navi-container .veggies {
    width: 90px;
    background-position: 0 13px;
}

.navi-container .veggies.active { background-position: 0 0; }

.navi-container .sides {
    width: 100px;
    background-position: -91px 13px;
}

.navi-container .sides.active { background-position: -91px 0; }

.navi-container .animals {
    width: 115px;
    background-position: -196px 13px;
}

.navi-container .animals.active { background-position: -196px 0; }

.navi-container > div.freeze {
    background-image: url(./../img/svg/navi-freeze.svg);
    cursor: default;
}

.navi-container .veggies.freeze {
    background-position: 0 13px;
}

.navi-container .sides.freeze {

    background-position: -91px 13px;
}

.m-item {
    width: 120px;
    height: 105px;
    margin: 0 0 0 0;
    padding: 0;
    cursor: pointer;
    float: left;
    background-image: url(./../img/svg/av-food.svg);
    opacity: 0;
    /*border: 1px solid;*/
}

.m-item.no-touch, .m-item.touch {
    transition: opacity 0.5s ease-out;
}

.m-item.visible {
    opacity: 1;
}

.m-item.dragged {
    opacity: 1 !important;
    background-position: 0 0 !important;
    -webkit-transform: scale(1, 1) !important;
    /*border: 1px solid red;*/
}

.m-item.inactive {
    cursor: default;
}

.food-container.inactive {
    opacity: 0.3;
    pointer-events: none;
}

#plates .food {
    position: absolute;
    /*z-index: 1;*/
}

.m-item.dragged, #plates .food {
    width: 450px;
    height: 450px;
    /*background-image: url(./../img/svg/food-on-plate.svg);*/
    /*border: 1px solid lime;*/
}

.chart {
    position: absolute;
    top: 170px;
    left: 150px;
    color: #3d4c57;
    /*border: 1px solid grey;*/
    /*background: #f5f5f5;*/
    background-image: url(./../img/svg/banneret.svg);
    background-size: 100% 100%;
    z-index: 1;
}

.big-chart {
    width: 250px;
    height: 74px;
    background-image: url(./../img/svg/banneret-big.svg);
}

.normal-chart {
    width: 132px;
    height: 74px;
}

.chart p {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    margin: 5px 0 0 0px;
    text-align: center;
    color: #3D4C57;
}

#performance-boost {
    pointer-events: none;
    position: fixed;
    bottom: 250px;
    left: 0;
    width: 100%;
    min-height: 150px;
    background: grey;
    z-index: 1000;
    opacity: 0;
}

/* == debug ====================================================== */

[role="debug"] {
    position: fixed;
    bottom: 250px; left: 10px;
    width: 150px;
    /*width: 100%;    */
    min-height: 150px;
    padding: 0.5em;
    background: black;
    z-index: 1000;
    font-size: 11px;
}

[role="debug"] p { color: #fff; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

[hidden], .hidden {
    display: none !important;
    visibility: hidden;
}

.transparent {
    opacity: 0;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
